.currency-select .ant-select-selector {
  padding: 19px 14px !important;
  border: 1px solid #ede9fe !important;
  border-radius: 8px !important;
  transition: border 0.2s ease-in-out, box-shadow 0.2s !important;
}

.currency-select.ant-select-focused .ant-select-selector {
  border-color: #9013fe !important;
  box-shadow: 0 0 0 3px rgba(144, 19, 254, 0.1) !important;
}


.custom-date-picker.ant-picker {
  padding: 10px 14px !important;
  border: 1px solid #ede9fe !important;
  border-radius: 8px !important;
  font-size: 16px !important;
  height: 40px !important;
  transition: border 0.2s ease-in-out, box-shadow 0.2s !important;
  display: flex;
  align-items: center;
}

.custom-date-picker.ant-picker-focused {
  border-color: #9013fe !important;
  box-shadow: 0 0 0 3px rgba(144, 19, 254, 0.1) !important;
}

.custom-date-picker .ant-picker-input > input {
  font-size: 16px !important;
  color: #333;
}